<section class="concept-set-conatiner block treatment-section">
    <h2 ng-if="::params.translationKey" class="section-title">{{::params | titleTranslate}} </h2>
    <div>
        <p class="placeholder-text" ng-if="!isDataPresent()">{{::'NO_TREATMENTS_MESSAGE' | translate}} </p>
        <table ng-repeat="drugOrderSection in ::drugOrderSections | orderBy: drugOrderSection.visitDate"
               class="repeated-table drug-order-table">
            <thead>
            <th colspan="4" ng-if="::!isOtherActiveSection(drugOrderSection.visitDate)">
                {{::'VISIT_ON_TRANSLATION_KEY'|translate}} {{::drugOrderSection.visitDate | bahmniDate}}
            </th>
            <th colspan="4" ng-if="::isOtherActiveSection(drugOrderSection.visitDate)">
                {{::drugOrderSection.visitDate}}
            </th>
            <th><a href="" ng-click="viewPrescription(params.patientUuid)"> <i class="fa fa-eye" aria-hidden="true"></i></a></th>

            <th><i class="fa fa-envelope" aria-hidden="true"></i></th>
            </thead>
            <tbody treatment-table-row drug-order="::drugOrder" params="::params"
                   ng-repeat="drugOrder in ::drugOrderSection.drugOrders | orderBy: '::effectiveStartDate'"
                   ng-class="::{'drug-discontinued': drugOrder.isDiscontinuedOrStopped()}"
                   ng-if="::drugOrderSection.drugOrders.length > 0">
            </tbody>
        </table>
        <div id="myModal" ng-if= "showPrescription" class="modal" style="width:700;height:700;">
            <!-- Modal content -->
            <div class="modal-content">
                <i class="fa fa-close" onclick="close()"></i>
                <iframe id = "preview"   src="/preview-prescription/medical-prescription.pdf" height="600" width="600"></iframe></div>
            </div>
        </div>

    </div>
</section>